@import "variables";
@import "./node_modules/bulma/bulma.sass";
@import "overrides";

.main-nav {
    background: rgba(0, 0, 0, 0);
    border: 0;
    position: fixed;
    width: 100%;
    transition: background-color 0.1s ease;
}

.indented {
    padding-left: 2.5rem;
}

.sticky {
    position: sticky;
    top: 0;
}

.columns-offset {
    margin-bottom: 0px !important;
}